.idea/aws.xml
.idea/csv-plugin.xml
.idea/dynamics.iml
.idea/misc.xml
.idea/modules.xml
.idea/rGraphicsSettings.xml
.idea/rSettings.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
